/* App.css */

/* Main Content */
.main-content {
  flex: 1;
  padding: 1rem;
}

/* Sections */
section {
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

section h1 {
    color: #333; /* Dark gray text */
    font-size: 2em; /* Larger font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add space above the h1 */
    margin-bottom: 10px; /* Add space below the h1 */
  }

section h2 {
    font-size: 1.5rem;
    /* border-bottom: 1px solid #ccc; /* Light gray line */
    margin-top: 0.5em; /* Adjust spacing */
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 1rem;
}

section .MuiListItem-root li  {
    background-color: #e9ecef;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
}

section li:hover {
    background-color: #dee2e6;
}

section a {
    color: #007bff;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: .5rem;
    background-color: #5f6368;
    color: white;
}
